@font-face {
    font-family: "Gotham Rounded";
    src: url('../fonts/gotham-rounded-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Rounded";
    src: url('../fonts/gotham-rounded-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Rounded";
    src: url('../fonts/gotham-rounded-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}